.wrapper {
  background: #ada996;
  background: -webkit-linear-gradient(
    to top,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  );
  background: linear-gradient(to top, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
}
