.wrapper {
  min-height: 100vh;
  background: #c9d6ff;
  background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff);
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3rem 0;
}
